#images {
    float: left;
    width: 50%;
}

#sounds {
    float: right;
    width: 50%;
}

thead {
    font-weight: bold;
}

#imageAdd, #soundAdd, [id^=sound-del], [id^=image-del] {
    cursor: pointer;
}

#map{
    width: 100%;
    height: 400px;
    position: fixed;
}
